<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.akj.mybatis.mapper.ProductMapper">
    <select id="findProductById" resultType="org.akj.mybatis.entity.Product">
        select * from products where id = #{id}
    </select>
</mapper>